<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>OpenSILEX -explore scientific objects</title>
    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="css/bootstrap.min.css"">
    <link rel="stylesheet" href="css/select2.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/css-loader.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/tabs.css">
</head>
<div id="cssLoader" class="loader loader-default" data-text="Loading"></div>
<body>
    <div class="wrap">
        <div class="container-fluid">
            <h2 >Explore PHIS - Scientific objects</h2>
            <br>
            <div class="col-md-12" id="exploreApp">
                Explore the different instances of PHIS currently running. This tool focuses on Scientific Objects and gives some interactive ways of visualizing it. 
                    <div id="tabs" class="container">
  
                            <div class="tabs">
                                <a v-on:click="tabs.activetab=1" v-bind:class="[ tabs.activetab === 1 ? 'active' : '' ]">Barplot</a>
                                <a v-on:click="tabs.activetab=2" v-bind:class="[ tabs.activetab === 2 ? 'active' : '' ]">Boxplot</a>
                                <a v-on:click="tabs.activetab=3" v-bind:class="[ tabs.activetab === 3 ? 'active' : '' ]">Piechart</a>
                                <a v-on:click="tabs.activetab=4" v-bind:class="[ tabs.activetab === 4 ? 'active' : '' ]">Treemap</a>
                                <a v-on:click="tabs.activetab=5" v-bind:class="[ tabs.activetab === 5 ? 'active' : '' ]">Radar</a>
                                <a v-on:click="tabs.activetab=6" v-bind:class="[ tabs.activetab === 6 ? 'active' : '' ]">DataTable</a>
                            </div>

                            <keep-alive>
                                <tab-compo v-if="tabs.activetab === 1" title="Barplot" param1="parameterOfInterest" param2="groupBy" functionname="showbarGraph()" outputpath="image/Graph.png" style="width:80%; height:90%" v-bind:filter=true v-on:myevent="showbarGraph" >
                                </tab-compo>  
                            </keep-alive>

                            <keep-alive>    
                                <tab-compo v-if="tabs.activetab === 2" title="Boxplot" param1="parameterOfInterest" param2="groupBy" functionname="boxplotGraph()" outputpath="image/Graph.png" width="width:70%" v-on:myevent="showboxplot" v-bind:filter=false>
                                </tab-compo>
                            </keep-alive>

                            <keep-alive>    
                                <tab-compo v-if="tabs.activetab === 3" title="Piechart" param1="parameterOfInterest" param2="groupBy" functionname="pieGraph()" outputpath="image/Graph.png" width="width:70%" v-on:myevent="showpieChart" v-bind:filter=true>
                                </tab-compo>
                            </keep-alive>

                            <keep-alive>    
                                <tab-compo v-if="tabs.activetab === 4" title="Treemap" param1="parameterOfInterest" param2="groupBy" functionname="treemapGraph()" outputpath="image/Graph.png" width="width:70%" v-on:myevent="treemapGraph" v-bind:filter=false>
                                </tab-compo>
                            </keep-alive>

                            <keep-alive>    
                                <tab-compo v-if="tabs.activetab === 5" title="Radar" param1="parameterOfInterest" param2="groupBy" functionname="radarGraph()" outputpath="image/Graph.html" width="width:70%" v-on:myevent="showradar" v-bind:filter=false>
                                </tab-compo>
                            </keep-alive>

                            <div v-if="tabs.activetab === 6" v-on:mouseover="tableSummarised()" class="tabcontent">
                                <div id="DataTable" >
                                    <div class="form-group">
                                        <strong>
                                        <label for="filter"> DataTable of output </label>
                                        </strong>
                                        <br>
                                    </div>
                               <!-- submit -->
                               <button class="btn" v-on:click="download_json()"><i class="fa fa-download"></i> Download JSON</button>
                               <button class="btn" v-on:click="download_csv()"><i class="fa fa-download"></i> Download CSV</button>
                               <button class="btn" v-on:click="download_xml()"><i class="fa fa-download"></i> Download XML</button>

                               <a id="Download" ></a>
                               <br>
                               <br>
                                    <input v-model="exportedData.rawData" v-on:click="tableSummarised()" type="radio" name="rawData" value=true> Raw
                                    <input v-model="exportedData.rawData" v-on:click="tableSummarised()" type="radio" name="rawData" value=false> Refined<br>  
                                    <table id="mytable" class="display" style="width:80%">
                                </div>
                           </div>
                    </div>
            </div>  
        </div> 
    </div> 
</body>
<script src="js/vue.js"></script>
<script src="js/jquery.min.js"></script>
<script href="js/jquery-ui.js"></script>
<script src='js/jquery.dataTables.js'></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/opencpu-0.5.js"></script>
<script src="js/VueCompo.js"></script>
<!--  <script src="js/appVue.js"></script> -->
</html>