{% extends "generator.html" %}
{% block title %}
Document
{% endblock %}
{% block content %}
<h2>Create a document</h2>
<p>Documents can be attached to several items such as experiment, sensors, vectors, methods, ...</p>
<form class="installation", method="post">
    <label for="hostname">Host Name</label> <br>
    <input type="text" name="hostname"  value="your institute">  <br>

    <label for="installationName" >Installation name</label>    <br>
    <input type="text" name="installationName" value="your installation"> <br>

    <label>Document Title</label> <br>
    <input type=text name="doctitle"></input> <br>
    <button id="submit" type="submit" class="btn btn-primary" > 
        Generate URI
    </button>
</form>

{% endblock %}