{% extends "generator.html" %}
{% block title %}
Ear
{% endblock %}
{% block content %}
<h2>Create an ear</h2>
The ear is an organ of a plant. This is a specificity of maize plants.
<form method="post">
    <label for="hostname">Host Name</label>   <br>
    <input type="text" name="hostname" value="opensilex.org">  <br>

    <label for="installationName" >Installation name</label>   <br>
    <input type="text" name="installationName" value="m3p"><br>

    <label for="relPlant">The ear is art of a plant</label>    <br>
    <input type="text" name="relPlant"> <br>

    <label for="year">What year did you sow this plant ?</label>  <br>
    <input type="text" name="year" value=2019>  <br>

    <label for="relExp">What is the related experiment ?</label>  <br>
    <input type="text" id="relExp" name="relExp" value="Dia-2019"><br>
    
    <button id="submit" type="submit" class="btn btn-primary"> 
     Generate URI 
     </button>
</form>

{% endblock %}