<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <title class='main-title'>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    </head>

    <body>
        <div class="container-fluid">
          <div class="navbar dropdown" >
            <a href="{{ url_for('home') }}" class="navbar-brand">URI generator</a>
            <a href="{{ url_for('device') }}" class="navbar-item">Device</a>
            <a href="{{ url_for('scientificObject') }}" class="navbar-item">Scientific Object</a>
            <a href="{{ url_for('document') }}" class="navbar-item">Document</a>
            <a href="{{ url_for('data') }}" class="navbar-item">Data</a>
            <a href="{{ url_for('method') }}" class="navbar-item">Method</a>
            <a href="{{ url_for('your_collection')}}" class="navbar-item">Your collection</a>
            <a href="{{ url_for('new_schema')}}" class="navbar-item">Alternative Schema</a>
          </div>
          <div class="navbar dropdown">
            <a href="{{ url_for('variable') }}" class="navbar-brand">Variable pattern</a>
            <a href="{{ url_for('create_variable') }}" class="navbar-item">Create variables</a>
            <a href="{{ url_for('your_variables')}}" class="navbar-item">Your variables</a>
          </div>
            <div class="body-content" id=URI_generator>
              {% block content %}
              {% endblock %}
              <hr/>
            </div>
              {% block success %}
              {% endblock %}                       
       </div>
        <footer>
          <p>© 2020 - INRAE, UMR Mistea - EPPN2020</p>
      </footer>
      <script src="static/js/vue.js"></script>
      <script src="static/js/appVue.js"></script>
    </body>
</html>