{% extends "generator.html" %}
{% block title %}
Import dataset
{% endblock %}
{% block content %}

<form method="post" enctype="multipart/form-data">
   <label for="file">Import your file</label>
   <input type="file" name="file" id="file">

   <label for="hostname">Host Name</label> <br>
   <input type=text name="hostname" value="{{username}}"> <br>
   <label>Installation name</label> <br>
   <input type=text name="installation" value="{{installation}}"> <br>

   <label for="Resource Type">Resource Type</label> <br>
   <select name="resource_type" id="resource_type" v-model="resource_type">
      <option value="actuator">actuator</option>
      <!-- <option value="agent">agent</option> -->
      <option value="annotation">annotation</option>
      <option value="data">data</option>
      <!-- <option value="document">document</option> -->
      <option value="ear">ear</option>
      <option value="event">event</option>
      <option value="image">image</option>
      <option value="leaf">leaf</option>
      <option value="plant">plant</option>
      <option value="plot">plot</option>
      <option value="pot">pot</option>
      <option value="sensor">sensor</option>
      <option value="species">species</option>
      <option value="vector">vector</option>
   </select> <br>
   
   <div id="additional_data">

      <h3>Additionnal Data</h3>
      <div v-if="supl_data.project.includes(resource_type)">
         <label for="project">Project related</label> <br>
         <input type=text name="project"  value="aProject"> <br>
         alternative : lire le csv et récupérer la donnée dans le csv
      </div>
      <div v-if="supl_data.year.includes(resource_type)">
         <label for="year">Year</label> <br>
         <input type=text name="year" label = "Year" value="2020"> <br>
      alternative : lire le csv et récupérer la donnée dans le csv
      </div>

      <div v-if="supl_data.relative_plant.includes(resource_type)">
         <label for="relPlant">Relative plant column</label> <br>
         <input type=text name="relplant" label = "relPlant" value="Related_plant"> <br>    
      </div>
      <div v-if="resource_type === 'species'">
         alternative : lire le csv et récupérer la donnée dans le csv du nom exact de variable
         <label for="species">Species column</label> <br>
         <input type=text name="species" label = "species" value="Species"> <br>   
      </div>
     
   </div>
   
   
    Reuse ID
    What ID ?

   <br>
   <button type=submit class="btn btn-primary">
      Generate URI
   </button>
</form> 
{% endblock %}