{% extends "generator.html" %}
{% block title %}
Leaf
{% endblock %}
{% block content %}
The leaf is an organ of a plant, they are generally identified from their apparition order (1st leaf, 2nd leaf)

<form method="post">
    <label for="plantleaf">The leaf in part of a plant</label>
    <br>
    <input type="text" name="plantleaf" id="plantleaf">
    <br>
    <button id="submit" type="submit" class="btn btn-primary" v-on:click="emit('myevent')"> 
     Generate URI 
     </button>
</form>

{% endblock %}