{% extends "generator.html" %}
{% block title %}
Alternative Schema
{% endblock %}
{% block content %}
<h2>Build a URI design</h2>
<p>If the in-built schema do not suit you, you can try to customize yours here. </p>
<p>You can add some elements of the URI by adding lines to this table. <br>
     Once you have filled all the informations needed, you can generate a sample URI to see if your design suits you.</p>
<div >
    <table class=content id=mytable v-on:load="GetCellValues" >
        <tr>
            <th>Part</th>
            <th>Content</th>
            <th>Action</th>
        </tr>
        {% for design in designs %}
        <tr>
            <td>  {{ design.name}}    </td>
            <td id="segments{{design.id}}">  {{ design.content}}    </td>
            <td>
                <a href="/delete/design/{{design.id}}">Delete</a>   
            </td>  
        </tr>
        {% endfor %}

        <tr>
            <td>
                Key
            </td>
            <td id=segment_key>
                {{ key }}
            </td>
            <td>
                    <form action="/new_schema" method="POST">
                        <select name="key_class" onchange='this.form.submit()' v-model="key_class">
                            <option value="primary_key">Primary_key</option>
                            <option value="incremental">Incremental</option>
                            <option value="random">Random</option>
                            <option value="crypto">Cryptographic</option>
                        </select>
                    </form> 
            </td>
            
        </tr>
    </table>
    <button class="btn btn-primary" v-on:click="GetCellValues">fill URI</button>
    <p>
        <b>  [[ fill_URI ]]</b>
    </p>
</div>
<br>
<form class="installation" method="POST">
    <h2>Add a part to the schema</h2>
    <label for="content-name">Name</label> <br>
    <input type=text name="content-name"  value="Country"> <br>
    <label for="content">Value</label> <br>
    <input type=text name="content"  value="Persia"> <br> 

   <button type=submit class="btn btn-primary">
      Submit
   </button>
</form>
{% endblock %}