{% extends "generator.html" %}
{% block title %}
Plant
{% endblock %}
{% block content %}
<H2>Create a plant</H2>
<form class="installation", method="post">
    <label for="hostname">Host Name</label>  <br>
    <input type="text" name="hostname" value="opensilex.org">  <br>

    <label for="installationName" >Installation name</label>   <br>
    <input type="text" name="installationName" value="m3p">

    <label for="year">What year did you sow this plant ?</label> <br>
    <input type="text" name="year"value=2019>  <br>
    
    <label for="relExp">What is the related experiment ?</label> <br>
    <input type="text"  name="relExp" value="Dia-2019"> <br>

    <button id="submit" type=submit class="btn btn-primary"> 
        Generate URI 
    </button>
</form>

{% endblock %}