{% extends "generator.html" %}
{% block title %}
Pot
{% endblock %}
{% block content %}
A pot is the host a one or several plants.
<form class="installation", method="post">
    <label for="hostname">Host Name</label> <br>
    <input type="text" name="hostname"  value="opensilex.org">  <br>

    <label for="installationName" >Installation name</label>    <br>
    <input type="text" name="installationName" value="Diaphen"> <br>

    <label for="year">What year did you used this pot ?</label> <br>
    <input type="text" name="year" value=2019>  <br>

    <label for="relExp">The pot is related to an experiment </label> <br>
    <input type="text" name="relExp"> <br>
    <button id="submit" type="submit" class="btn btn-primary"> 
    Generate URI 
    </button>
</form>

{% endblock %}