{% extends "generator.html" %}
{% block title %}
Sensor
{% endblock %}
{% block content %}
<h2>Create a sensor</h2>
<form class="installation", method="post"> 
    <label>Host name</label> <br> 
    <input type=text name="hostname"  value="opensilex.org"> <br>

    <label>Installation name</label> <br>
    <input type="text" name="installationName" value="m3p"> <br>
    
    <label >What year ?</label> <br>
    <input type="text" name="year" value="2019"> <br>
    <button type=submit class="btn btn-primary">
       Generate URI
    </button>
 </form>
{% endblock %}