{% extends "generator.html" %}
{% block title %}
your database
{% endblock %}
{% block content %}
<h2>Here is a summary of the different URI you created</h2>
<p style=" background-color: gainsboro ; color:coral; width: 15%;">
    User : {{username}}
  </p>
<table class=content>
    <tr>
        <th>Type</th>
        <th>Last URI granted</th>
    </tr>
    {% for collection in collections %}
    <tr>
        <td>{{collection.type}}</td>
        <td>{{collection.lastvalue}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}