<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title class="main-title">{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div>
      <div class="navbar dropdown">
        <a href="home" class="navbar-brand">URI generator</a>

        {% if not statut %}
        <a href="get_started" class="navbar-item">Get started</a>
        <a href="login" class="navbar-item">Log in</a>
        {% endif %} {% if statut %}
        <a href="get_started" class="navbar-item">Get started</a>
        <a href="import_dataset" class="navbar-item">Generate new URI</a>
        <a href="existing_ID" class="navbar-item">Enrich existing ID</a>
        <a href="your_database" class="navbar-item">last database URI</a>
        <a href="logout" class="navbar-item">Log out</a>
        <!-- <a href="login" class="navbar-item">Change User</a> -->
        <a
          style="
            color: rgb(253, 166, 52);
            width: 30%;
            font-size: 20px;
            float: right;
          "
          ;
        >
          {{username}}
        </a>
        {% endif %}
      </div>
      <div class="card" id="URI_generator">
        {% block content %} {% endblock %}
        <hr />
      </div>
      {% block success %} {% endblock %}
    </div>
    <footer>
      <p>© 2020 - INRAE, UMR Mistea - EPPN2020 - EMPHASIS</p>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="static/js/vue.js"></script>
    <script src="static/js/appVue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#import_dataset_form").on("submit", function (event) {
          // Get form
          var form = $("#import_dataset_form")[0];
          var baseurl = window.location.origin + window.location.pathname;
          // Create an FormData object
          var data = new FormData(form);
          $.ajax({
            data: data,
            type: "POST",
            url: baseurl,
            contentType: false,
            processData: false,
            cache: false,
            timeout: 800000,
          }).done(function (data) {
            var blob = new Blob([data]);
            var link = document.createElement("a");
            link.href = window.URL.createObjectURL(blob);
            link.download = "import_dataset.csv";
            link.click();
            link.remove();
          });
          event.preventDefault();
        });
      });
    </script>
  </body>
</html>
