{% extends "generator.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{{super()}}
  <h2>Home</h2>

  {% if statut  %}
  <p style="color:coral; width: 30%; font-size: 20px;">
    Connected as {{username}}
  </p>
  {% endif %}
  {% if not statut %}
  <p style="color:coral; width: 30%; font-size: 20px;">
    Not connected !
  </p>
  {% endif %}
  

  <p class="important">
    Welcome to PHIS URI generator. This tool is meant to generate different URI for your data.
  </p> 
     You can generate URI for your data in the <a href="import_dataset">Generate URI</a> section
  <p>
  </p>
  To exlore the different URI you can follow the links 
  <div>
    <a href="uir/device" class="navbar-item">Device</a>
    <a href="scientificObject" class="navbar-item">Scientific Object</a>
    <a href="uri/document" class="navbar-item">Document</a>
    <a href="uri/data" class="navbar-item">Data</a>
    <a href="uri/method" class="navbar-item">Method</a> 
  </div>

    <br>
    <b>Important!</b>
    <p>
      You might very well already have identifiers with suitable complexity and fullfiling the requirements of your own system. <br>
    In order to be plainly interoperable with other information system in the EPPN2020 network, what was proposed is to prefix your existing identifiers.
    </p>
    You can enrich your identifier here : <a href="existing_ID">I already have an ID</a>
  
    <br> <br>

    <p style="font-size: 18px;">
      First time here ? Check the <a href="get_started">Get Started</a> page!
    </p>
    
    
{% endblock %}