{% extends "generator.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{{super()}}
  <h2>Home</h2>

  {% if statut  %}
  <p style="color:coral; width: 30%; font-size: 20px;">
    Connected as {{username}}
  </p>
  {% endif %}
  {% if not statut %}
  <p style="color:coral; width: 30%; font-size: 20px;">
    Not connected !
  </p>
  {% endif %}
  

  <p class="important">
    Welcome to OpenSILEX URI generator. This tool is meant to generate different URI for your data, according to date, nature of the resource and identity of the owner.
  </p> 
     You can generate URI for your data in the <a href="import_dataset">Generate URI</a> section
  <p>

    <br>
    <b>Important!</b>
    <p>
    You might very well already have identifiers with suitable complexity and fullfiling the requirements of your own system. <br>
    In order to be plainly interoperable with other information system in the EPPN2020 network, what was proposed is to prefix your existing identifiers.
    </p>
    You can enrich your identifier here : <a href="existing_ID">I already have an ID</a>
    <br>
    This creates a new URI for your data but keeps the former identifier so you can still interoperate with your current system.
  
    <br> <br>

    <p style="font-size: 18px;">
      First time here ? Check the <a href="get_started">Get Started</a> page!
    </p>
    
    
{% endblock %}