{% extends "generator.html" %} {% block title %}Home{% endblock %} {% block
content %} {{super()}}
<h2>Home</h2>

{% if statut %}
<p style="color: coral; width: 30%; font-size: 20px">
  Connected as {{username}}
</p>
{% endif %} {% if not statut %}
<p style="color: coral; width: 30%; font-size: 20px">Not connected !</p>
{% endif %}

<p style="font-size: 18px">
  First time here ? Check the <a href="get_started">Get Started</a> page!
</p>
<p class="important" align="justify" style="width: 800px; font-size: 15px">
  Welcome to OpenSILEX URI generator. <br />
</p>
<p align="justify" style="width: 800px">
  This tool is meant to generate different URIs for your data, according to the
  date, nature of the object and identity of the owner. It is recommended to
  perform several tests (Test user) before creating your own URIs. Then you can
  generate URIs for your data in the
  <a href="import_dataset">Generate URI</a> section <br />
  <br />
  <b>If you already have identifiers...</b>
  <br />
  If you already have identifiers that fulfill the requirements of your own
  system. <br />
  You can create URIs that keep these identifiers with a prefix that contains
  the necessary informations so your current IDs are interoperable with other
  information system within EPPN2020, EMPHASIS or other infrastructures.
  <br />
  In this case go to : <a href="existing_ID">I already have an ID</a>
</p>

{% endblock %}
