{% extends "generator.html" %} {% block title %} QrCodes {% endblock %} {% block
content %}
<form class="installation" , method="post">
  <label for="Resource Type">Object Type</label> <br />
  <select name="resource_type" id="resource_type" v-model="resource_type">
    <option value="plant">plant</option>
    <option value="pot">pot</option>
    <option value="sensor">sensor</option>
    <option value="vector">vector</option>
  </select>
  <button type="submit" class="btn btn-primary">Generate QRCodes</button>
</form>
{% endblock %}
