{% extends "generator.html" %}
{% block title %}
Variable
{% endblock %}
{% block content %}
<h2> This section describes a pattern to create variables names. </h2>
<p>
    Since having an ontology of all existing variables is not likely to exist,
    we can have a pattern that helps create new variables. <br>
   This is also usefull to understand variables created by someone else, if we all use the same pattern.    
</p>
<p>
    <br>
    <h4> <b> Entity - Quality - (Method) - Unit</b> </h4>  
    <br>    With : <br>
    <u>Entity</u> : being the scientific object the variables is focusing on. <br>
    &nbsp;&nbsp;&nbsp;    Exemples : soil, air, plant, leaf, CropCanopy, ... <br>
    <u>Quality</u> : being the scientific quality (or quantity) measured. This is described in the Ontology of Measuremenr (OM). <br>
    &nbsp;&nbsp;&nbsp;    Exemples : Ex: Temperature, Mass, Growth Degree Day, Vegetation Index, DimensionLess <br>
    <u>Method</u> : being the different methods/protocols you declared for experimentation (for naming a variable it is optional, mention if it's relevant) <br>
    &nbsp;&nbsp;&nbsp;    Exemples : Imaging computation, Hand measurement, Simulations <br>
    <u>Unit</u> : being the scientific unit described in the Ontology of Measurement. <br>
    &nbsp;&nbsp;&nbsp;    Exemples : °C, kg, cm.days-1, UnitLess <br>
    
</p>
<p> 
    This pattern for naming variables will undoubtly lead to some variables being more difficult to name than others. 
    Special cases:
    <li>
        In order to precise a subpart of your entity or method (like soil from 0 to 30cm deep or a tree at 2m height) you can alter the name (just the name) of the entity to create variables.
        <br> This way takes into account constraints of measurement.
    </li>
    <li>
        Variables that do not fit well in this model. Some variables (for example environmental indices) will be difficult to declare, Unit and Quality or even Entity will be hard to choose. 
        <br> For those variables, I suggest you to use blanks and we will see after collecting a number of them, if we can find a pattern.
    </li>
        
        
    
</p>

{% endblock %}